:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: white;
}

.main-header {
border: rgb(60, 60, 133) solid 5px;
color: rgb(60, 60, 133);
}

.nav-item {
  margin-right: 1rem; /
}

.nav-item:last-child {
  margin-right: 0; 
}


.article-title{
color: black;
font-weight: bold;
font-size: 20px
}

.article-list {

color: black;
list-style-type: none;
}

.article {
border: green solid 2px
}

img {
  max-height: 15rem;
}

.comment-ul {
  border: rgb(57, 200, 243) solid 5px;
  color: black;
}

.comment-li {
  border: rgb(57, 200, 243) solid 3px;
}

.logo-link {
  position: relative;
  display: inline-block;
}

.logo-link img {
  transition: transform 0.3s ease;
}

.logo-link img:hover {
  transform: scale(1.1);
  cursor: pointer; 
}
