:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: white;
}

.main-header {
border: rgb(60, 60, 133) solid 5px;
color: rgb(60, 60, 133);
}

.nav-ul {
border: orangered solid 5px;
color: orangered;
display: flex;       /* Use flexbox layout */
list-style-type: none; /* Remove default list bullets */
padding: 0;          /* Remove default padding */
margin: 0 10px;           /* Remove default margin */
}

.nav {
  border: orangered solid 5px;
  color: orangered;
}

.nav-ul {
  display: flex;       
  list-style-type: none;
  padding: 0;           
  margin: 0;            
}

.nav-ul li {
  margin: 0 15px;      
}

.article-title{
color: black;
font-weight: bold;
font-size: 20px
}

.article-list {
border: green solid 5px;
color: green;
list-style-type: none;
}

.article {
border: green solid 2px
}

img {
  max-height: 15rem;
}

.comment-ul {
  border: rgb(57, 200, 243) solid 5px;
  color: black;
}

.comment-li {
  border: rgb(57, 200, 243) solid 3px;
}